name: Release Gem

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release gem to RubyGems.org
    runs-on: ubuntu-24.04-arm

    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: bundle exec rake test
      - run: bundle exec rake rubocop
      - uses: rubygems/release-gem@v1
